:root {
	--backgroundClr: #FBFBFE;
	--primaryText: #242329;
	--secondaryText: #6D6A7C;
	--btns: #6E57E0;
	--selectText: #6E57E0;

	font-family:'Poppins', sans-serif;
}

li {
	list-style: none; 
	font-weight: 500;
}

a {
	text-decoration: none;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 85%;
	user-select: none;
}

.home, .about, .skills, .qualifications, .certificates, .projects, .contactme {
	color: var(--primaryText);
}

.home:hover, .about:hover, .skills:hover, .qualifications:hover, .certificates:hover, .projects:hover, .contactme:hover {
	color: var(--selectText);
}


.first-name, .last-name {
	font-size: 1.5rem;
	font-weight: 900;
	letter-spacing: 3px;
}

.first-name {
	color: var(--btns);
}

.last-name {
	color: var(--primaryText);
}

.first-name:hover {
	animation-name: text-change1;
  	animation-duration: 1s;
  	animation-timing-function: ease;
}

.last-name:hover {
	animation-name: text-change2;
  	animation-duration: 1s;
  	animation-timing-function: ease;
}

.header .last-name {
	margin-right: 150px;
}

.header ul {
	display: flex;
	font-size: 14px;
}

.header li {
	margin-right: 30px;
}

.header .material-icons-outlined {
	font-size: 20px;
	color: var(--primaryText);
	cursor: pointer;
	user-select: none;
}

.hide {
	display: none;
	visibility: hidden;
	width: 0px;
}

.selected {
	color: var(--selectText);
}

@keyframes text-change1 {
  from {color: var(--btns);}
  to {color: var(--primaryText);}
}

@keyframes text-change2 {
  from {color: var(--primaryText);}
  to {color: var(--btns);}
}